/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    color: white;
}
.card{
    background-color: #222;
}
.header{
    background-color: rgb(22, 20, 20);
}